
<div>
        <div class="row p-3">
                <div class="col-md-4">
                <app-sidenav></app-sidenav>
                </div>
        <div class="col-md-8">


          <!--Emails-->
<h5>Recieved messages from Tutors</h5>
<a mdbBtn size="lg" class="btn-email  waves-light" mdbWavesEffect>
    <i class="fa fa-envelope"></i>
  </a>
  <span class="counter">5</span>

  <div id="chartContainer" style="height: 30px; width: 100%; margin-left:auto;margin-right:auto;"></div>


          <!--Emails-->
          <h5>Recieved messages from Student</h5>
          <a mdbBtn size="lg" class="btn-email  waves-light" mdbWavesEffect>
              <i class="fa fa-envelope"></i>
            </a>
            <span class="counter">2</span>
          
            <div id="chartContainer" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
          
          
    </div>
        </div>
    </div>

   