

<div>
        <div class="row p-3">
                <div class="col-md-4">
                <app-sidenav></app-sidenav>
                </div>
        <div class="col-md-8">


          <mdb-navbar SideClass="navbar navbar-dark green">
            <!-- Search form -->
        <form class="form-inline waves-light" mdbWavesEffect>
          <div class="md-form mt-0">
              <input class="form-control mr-sm-1" type="text" placeholder="Search">
          </div>
      </form>
            </mdb-navbar>


    <!-- Default form login -->
<form class="text-center border border-light p-5">

        <p class="h4 mb-4">Search Student profile</p>
      
        <form class="form-inline md-form mr-auto mb-4">
          <input class="form-control mr-sm-2" type="text" placeholder="Student name" aria-label="Search">
          <button mdbBtn size="sm" gradient="aqua" rounded="true" class="my-0 waves-light" mdbWavesEffect type="submit">Search</button>
        </form>





        <!-- Email -->
        <input type="string" id="defaultDistrict" class="form-control mb-4" placeholder="District">
      
        <!-- Sign in button -->
        <button mdbBtn color="info" block="true" class="my-4" type="search">Search</button>
      
       
      </form>
      <!-- Default form login -->
      <p class="font-weight-bold">Block student list</p>
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>user1</a>
        <a href="#" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>user2</a>
        <a href="#" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>user3</a>
        <a href="#" class="list-group-item list-group-item-action disabled waves-light" mdbWavesEffect>user4</a>
      </div>


    </div>
  </div>
</div>






      
