
 


<div>
     <div class="row p-3">
        <div class="col-md-4">
            <app-sidenav></app-sidenav>
    </div>
<div class="col-md-8">

        
           

<!-- Heading -->
<div class="card mb-4 wow fadeIn">

  <!--Card content-->
  <div class="card-body d-sm-flex justify-content-between">

    <h4 class="mb-sm-0 pt-3">
      <a href="https://mdbootstrap.com/material-design-for-bootstrap/" target="_blank">Home Page</a>
      <span>/</span>
      <span>Dashboard</span>
    </h4>

   
  </div>

</div>
<!-- Heading -->

 <!-- List group links -->
 
 <div class="col-md-8">
  <div class="list-group list-group-flush " style="height:35%" width="50%">
    <p class="font-weight-bold">No of users</p>
  <a class="list-group-item list-group-item-action waves-effect">Student
    <span class="badge badge-success badge-pill pull-right">{{numberOfStudents}}
     
    </span>
  </a>
  <a class="list-group-item list-group-item-action waves-effect">Tutor
    <span class="badge badge-danger badge-pill pull-right">{{numberOfTutors}}
      
    </span>
  </a>
  <a class="list-group-item list-group-item-action waves-effect">Complaint and message
    <span class="badge badge-primary badge-pill pull-right">{{numberOfMassages}}</span>
  </a>
</div>
</div>

<!-- List group links -->


<p class="font-weight-bold">No of student and tutors registerd in each district</p>
<table class="table table-hover" style="height:15%" width="5" >
    <!-- Table head -->
  <thead class="blue-grey lighten-4">
    <tr>
      <th>#</th>
      <th>District</th>
      <th>No of students</th>
      <th>No of Tutors</th>
    </tr>
  </thead>
  <!-- Table head -->

  <!-- district Table body -->
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>colombo</td>
      <td>10</td>
      <td>7</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Gampaha</td>
      <td>7</td>
      <td>6</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Kegalla</td>
      <td>5</td>
      <td>8</td>
    </tr>
  </tbody>
  <!-- Table body -->
</table>


<!--subject wise tutor Table  -->

<p class="font-weight-bold">No of tutors registerd in each subject</p>
<table class="table table-hover" item-width="100" style="height:15%" width="5">
 
    <!-- Table head -->
    <thead class="blue-grey lighten-4">
      <tr>
        <th>#</th>
        <th>Subject</th>
        <th>No of Tutors</th>
      </tr>
    </thead>
    <!-- Table head -->
  
    <!-- Table body -->
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Science</td>
        <td>10</td>
       
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Maths</td>
        <td>7</td>
        
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Biology</td>
        <td>2</td>
      </tr>
    </tbody>
    <!-- Table body -->
  </table>
  <!-- Table  -->
  
<!-- barChart district wise  -->
  <div style="display: block">
    <canvas mdbChart
        [chartType]="chartType"
        [datasets]="chartDatasets"
        [labels]="chartLabels"
        [colors]="chartColors"
        [options]="chartOptions"
        [legend]="true"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)">
    </canvas>
</div>
<p class="font-weight-bold">percentage of student</p>
<h5></h5>
<div class="col-md-5">
<app-piechart></app-piechart>

</div>

<p class="font-weight-bold">percentage of Tutor</p>
<h5></h5>
<div class="col-md-5">
<app-piechart-tutor></app-piechart-tutor>

</div>



<p class="font-weight-bold">Line chart</p>
<div class="col-md-8">
<app-linechart></app-linechart>
</div>







</div>
</div>
</div>






  