

<div class="sidebar-fixed position-fixed">
    <!--Section: Personal card-->
<section class="pt-5 mt-3 pb-3">

        <!--Grid row-->
        <div class="row">
      
          <!--Grid column-->
          <div class="col-md-5 col-lg-5">
      
            <!--Card-->
            <mdb-card class="card-personal">
      
              <!--Card image-->
              <mdb-card-img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(29).jpg" alt="Card image cap"></mdb-card-img>
              <!--Card image-->
      
              <!--Card content-->
              <mdb-card-body>
                <!--Title-->
                <a>
                  <mdb-card-title class="title-one h4">
                    Clara
                  </mdb-card-title>
                </a>
              </mdb-card-body>
              <!--Card content-->
      
            </mdb-card>
            <!--Card-->
      
          </div>
          <!--Grid column-->
      
        </div>
        <!--Grid row-->
      
      </section>
      <!--Section: Personal card-->





<!--
  <a class="logo-wrapper waves-effect light">
      <img src="../../../../assets/img/angular-mdb.png" class="img-fluid" alt="">
  </a>

  <div class="list-group list-group-flush">

      <a routerLink="./dashboard/dashboard.component" routerLinkActive="active" href="/Dashboard" class="list-group-item list-group-item-action waves-effect ">
          <i class="fa fa-pie-chart mr-3"></i>Dashboard
      </a>
      <a routerLink="./adminprofile/adminprofile.component" routerLinkActive="active" href="/Adminprofile" class="list-group-item list-group-item-action waves-effect">
          <i class="fa fa-user mr-3"></i>Admin Profile</a>
          <a routerLink="profiles/profile1" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
            <i class="fa fa-user mr-3"></i>view tutor profile</a>
            <a routerLink="profiles/profile1" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
              <i class="fa fa-user mr-3"></i>view student profile</a>  

      <a routerLink="tables/table1" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
          <i class="fa fa-table mr-3"></i>message</a>
      
      <a routerLink="nonExistingPath" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
          <i class="fa fa-exclamation mr-3"></i>complaint</a>

          


  </div>

</div>  -->
<!--Zoom effect-->


<nav class="nav flex-column blue lighten-5 py-4" style="height:100%" width="50">
 
  <a class="nav-link" routerLink="/Dashboard"> <i class="fa fa-pie-chart mr-3"></i> Dashboard</a>

  <a class="nav-link" routerLink="/student"> <i class="fa fa-user mr-3"></i>student</a>
  <a class="nav-link" routerLink="/Tutor"> <i class="fa fa-user mr-3"></i>tutor</a>
  <a class="nav-link" routerLink="/Message">  <i class="fa fa-table mr-3"></i>message and complaint</a>
  
  <a class="nav-link disabled" href="#">Disabled</a>
</nav>



