
<div class="col-md-4 mb-4">
  
  <div class="morpheus-den-gradient color-block mb-5 mx-auto z-depth-1-half p-4" style="width:450px; background-color: rgba(127, 153, 204, 0.062)">
      <!--Section: Personal card-->
  <section class="pt-5 mt-3 pb-3">
  
          <!--Grid row-->
          <div class="row">
        
            <!--Grid column-->
            <div class="col-md-5 col-lg-5">
        
              <!--Card-->
              <div style="width:150px;">
              <mdb-card class="card-personal">
        <div>
                <!--Card image-->
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20%283%29.jpg" alt="Card image cap" style="width:300px"> </mdb-card-img>
                <!--Card image-->
        
                <!--Card content-->
                <mdb-card-body>
                  <!--Title-->
                  <a>
                    <mdb-card-title class="title-one h4">
                      Admin
                    </mdb-card-title>
                  </a>
                </mdb-card-body>
                <!--Card content-->
              </div>  
              </mdb-card>
              <!--Card-->
        
            </div>
  
  
            </div>
            <!--Grid column-->
        
          </div>
          <!--Grid row-->
        
        </section>
        <!--Section: Personal card-->
  
  
  
  
        <div style="width:300px;">
        <div class="row" style="height:10%;">
    <a class="logo-wrapper waves-effect light">
        <img src="../../../../assets/img/angular-mdb.png" class="img-fluid" alt="">
    </a>
  
    <div class="list-group list-group-flush" style=" height:10%;">
  
        <a routerLink="/Dashboard" routerLinkActive="active"  class="list-group-item list-group-item-action waves-effect ">
            <i class="fa fa-pie-chart mr-3"></i>Dashboard
        </a>
        <a routerLink="/student" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
            <i class="fa fa-user mr-3"></i>Student</a>
            <a routerLink="/Tutor" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
              <i class="fa fa-user mr-3"></i>Tutor</a>
              <a routerLink="/Message" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <i class="fa fa-table mr-3"></i>Message and complaint</a>  
  
        
  
              </div>
    </div>
  </div>  
  <!--Zoom effect-->

  </div>
</div>

  